@model ParkedVehiclesViewModel
@inject Garage2._0.services.ITypeSelectService service

<h1 class="text-center text-info">Welcome to Stockholm Garage!</h1>

<h3 class="text-center">
    <a asp-action="Park" class="text-info">Park a new vehicle</a>
</h3>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="RegNr" placeholder="Search by registration number" />
        <div class="input-group-append">
            <select asp-for="VehicleType" asp-items="@await service.GetTypesAsync()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-info"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkedVehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"  class="text-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id"  class="text-info">Details</a> |
                    <a asp-action="Unpark" asp-route-id="@item.Id" class="text-info">Leave the garage</a>
                </td>
            </tr>
        }
    </tbody>
</table>
