@model LeavingVehicleViewModel

@{
    ViewData["Title"] = "Leave the garage";
}

<h1>Delete</h1>

<h3>Are you sure you want unpark this vehicle?</h3>
<div>
    <h4>Vehicle details:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingVehicle.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingVehicle.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingVehicle.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingVehicle.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingVehicle.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingVehicle.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingVehicle.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingVehicle.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingVehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeavingVehicle.Model)
        </dd>
        <dt class="col-sm-2">
            Total parking (hours) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingCost)
        </dd>
    </dl>
    
    <form asp-action="Unpark">
        <input type="hidden" asp-for="LeavingVehicle.Id" />
        <input type="submit" value="Unpark" class="btn btn-danger" /> |
        <a asp-action="HomePage">Back to List</a>
    </form>
</div>
